<head>
<link rel="stylesheet" type="text/css" href="menu.css">
</head>

<ul id="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">Scholarship</a>
        <ul>
            <li><a href="#">9th Grade</a></li>
            <li><a href="#">10th Grade</a></li>
            <li><a href="#">11th Grade</a></li>
            <li><a href="#">12th Grade</a></li>
        </ul>
    </li>
    <li><a href="#">Donor Perks</a>
        <ul>
            <li><a href="#">TBD</a></li>
        </ul>
    </li>
    <li><a href="#">About</a>
        <ul>
            <li><a href="#">TBD</a></li>
        </ul>
    </li>
</ul>
